.dice {
  width: 50px;
  height: 50px;
  box-shadow: 0px 35px 20px #0000002b;

  .cube {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    background-color: gray;
    opacity: 0;

    &.result0 {
      opacity: 1;
      animation: throwDice 1.5s linear infinite;
    }

    &.result1 {
      opacity: 1;
      animation: throw1 1.5s linear forwards;
    }

    &.result2 {
      opacity: 1;
      animation: throw2 1.5s linear forwards;
    }

    &.result3 {
      opacity: 1;
      animation: throw3 1.5s linear forwards;
    }

    &.result4 {
      opacity: 1;
      animation: throw4 1.5s linear forwards;
    }

    &.result5 {
      opacity: 1;
      animation: throw5 1.5s linear forwards;
    }

    &.result6 {
      opacity: 1;
      animation: throw6 1.5s linear forwards;
    }

    .side {
      position: absolute;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      background-color: white;
      border: 1px solid gray;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 5px;

      .dot {
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        margin: 2px;
      }

      &.one {
        transform: translateZ(25px);

        .dot {
          width: 8px;
          height: 8px;
          background-color: red;
        }
      }

      &.six {
        transform: rotateY(180deg) translateZ(25px);

        .dot {
          margin: 4px;
        }
      }

      &.three {
        transform: rotateY(90deg) translateZ(25px);

        .dot:nth-child(1) {
          align-self: flex-start;
        }

        .dot:nth-child(2) {
          align-self: center;
        }

        .dot:nth-child(3) {
          align-self: flex-end;
        }
      }

      &.four {
        transform: rotateY(-90deg) translateZ(25px);

        .dot {
          margin: 5px;
          background-color: red;
        }
      }

      &.five {
        transform: rotateX(90deg) translateZ(25px);

        .dot {
          margin: 4px;

          &:nth-child(2) {
            position: absolute;
          }
        }
      }

      &.two {
        transform: rotateX(-90deg) translateZ(25px);
      }
    }
  }
}

@keyframes throwDice {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes throw1 {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
  }
}

@keyframes throw2 {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(135deg) rotateY(45deg) rotateZ(0deg);
  }
}

@keyframes throw3 {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(135deg) rotateY(45deg) rotateZ(90deg);
  }
}

@keyframes throw4 {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(90deg);
  }
}

@keyframes throw5 {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(0deg);
  }
}

@keyframes throw6 {
  0% {
    transform: rotateX(-2000deg) rotateY(-2000deg) rotateZ(-2000deg);
  }

  100% {
    transform: rotateX(225deg) rotateY(0deg) rotateZ(45deg);
  }
}